main {
  position: relative;
  padding: 16px 0;
  min-height: 100vh;
}

.menu-icon-wrapper {
  position: absolute;
  top: 16px;
  left: 16px;
}

@media screen and (min-width: 992px) {
  .openMenuSize {
    width: calc(100vw - 300px);
  }
  .closeMenuSize {
    width: 100vw;
  }
}
@media screen and (max-width: 992px) {
  .openMenuSize {
    width: 100vw;
  }
  .closeMenuSize {
    width: 100vw;
  }
}

.app-header {
  padding: 10px;
  background-color: #373a47;
  color: white;
  text-align: center;
}

.app-header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.bm-cross-button {
  right: 24px !important;
}
